.form-group {
    margin-bottom: 8px !important;
    font-size: 8px;
}

.rs-uploader-trigger {
    width: 100%;
}

.x-x {
    font-size: 15px;
}

.formm {
    display: flex !important;
    justify-content: space-between;
    width : 100%;
}

.fsize {
    width: 30%;
    width : 100%;
}